.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	padding: 2rem;
}

.info {
	border-radius: 8px;
	background-color: var(--primary);
	padding: 1rem;
	color: var(--secondary-600);
	font-weight: 700;
	& .info__item {
		display: flex;
		justify-content: space-between;
		gap: 3rem;
	}
}
