.box {
	text-align: center;
	& h2 {
		margin: 1rem 0;
		padding: 0;
	}
}

.img {
	margin: 0 auto;
	box-shadow: inset 0px 0px 40px 60px var(--primary);
	background-image: url('/demo.gif');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-width: 260px;
	max-width: 500px;
	height: 100%;
	min-height: 500px;
	max-height: 260px;
}
