.grid {
	display: grid;
	grid-auto-flow: column;

	& a {
		transition: 0.5s;
		&:hover,
		&:active {
			color: var(--color-acent-800);
		}
	}
}

@media (min-width: 1280px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
		justify-content: end;
		text-align: end;
	}
}
