.item {
	align-self: flex-start;
	transition: all 0.5s;
	border: 1px solid var(--secondary-600);
	border-radius: 1rem;
	background-color: var(--secondary-600);
	overflow: hidden;
	color: var(--primary);
	text-transform: capitalize;

	& input {
		position: absolute;
		opacity: 0;
	}
}

.title {
	display: block;
	padding: 0.5rem 1rem;
}

.controls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--primary);
	color: var(--secondary-600);
}

.label {
	transition: all 0.5s;
	cursor: pointer;
	padding: 0.5rem 0;
	font-size: 0.8rem;
	text-align: center;
	text-transform: capitalize;
	&:hover,
	&:active {
		background-color: var(--accent-800);
	}
}
.button {
	display: block;
	border: none;
	border-radius: 0;
	background-color: var(--primary);
	padding: 0.5rem 1rem;
	aspect-ratio: auto;
	max-width: none;
	color: var(--secondary-600);
	text-transform: capitalize;

	&:hover,
	&:active {
		background-color: var(--accent-800);
	}
}

.active {
	transition: all 0.5s;
	background-color: var(--accent-800);
	color: var(--primary-400);
	text-align: center;
}
