@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--primary: rgb(36, 36, 36);
	--primary-a: rgba(36, 36, 36, 1);
	--primary-800: black;

	--secondary-400: white;
	--secondary-600: rgb(255, 235, 205);
	--secondary-600-a: rgba(255, 235, 205, 0);

	--accent-400: rgb(243, 57, 57);
	--accent-800: rgb(172, 51, 51);

	--mobile-portrait: 480px;
	--mobile-landscape: 768px;
	--tablet-portrait: 1024px;
	--tablet-landscape: 1280px;
	--desctop: 1440px;

	background-color: var(--secondary-600);
	color: var(--secondary-400);

	font-weight: 400;
	line-height: 1.5;
	font-family: 'JetBrains Mono', monospace;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Light {
	--primary: rgb(255, 235, 205);
	--primary-a: rgba(255, 235, 205, 0);
	--primary-800: white;

	--secondary-400: black;
	--secondary-600: #242424;
	--secondary-600-a: #24242400;

	--accent-400: rgb(172, 51, 51);
	--accent-800: rgb(243, 57, 57);

	background-color: var(--primary);
	color: var(--secondary-400);
}

* {
	box-sizing: border-box;
}

h1 {
	padding: 0.5rem;
	text-transform: capitalize;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

button {
	transition: all 0.5s;
	cursor: pointer;
	border-radius: 50%;
	padding: 1rem;
	aspect-ratio: 1/1;
	max-width: fit-content;
	&:disabled {
		cursor: not-allowed;
	}
}

.text-center {
	margin: 0 auto;
	text-align: center;
}

.Dark,
.Light {
	background-color: var(--primary);
	color: var(--secondary-400);
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-image: url('../assets/swords.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.banner {
	margin: 0 auto;
	border-radius: 1rem;
	background-color: var(--secondary-600);
	padding: 1rem;
	max-width: fit-content;
	color: var(--primary);
}

.fadeIn {
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-name: fadeIn;
}

.fadeOut {
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-name: fadeOut;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
