.box {
	border: 1px solid var(--primary-800);
	border-radius: 1rem;
	background-color: var(--primary);
	padding: 1rem 2rem;
	color: var(--secondary-400);
}

.content {
	display: grid;
	gap: 1rem;
	text-align: start;
	& div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		color: var(--accent-800);
		font-weight: 600;
		text-transform: capitalize;

		& span {
			color: var(--secondary-600);
		}
	}
}
