.welcome {
	height: 60dvh;
}

.scroll {
	position: absolute;
	top: -1500px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--primary);
	overflow: hidden;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
}
.scroll__content {
	animation: autoscroll 30s linear infinite;
	padding-top: 2000px;
}
.box {
	position: relative;
	flex-grow: 1;
	overflow: hidden;
}
.welcome:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		var(--primary) 5%,
		rgba(255, 235, 205, 0) 100%
	);
	pointer-events: none;
	content: '';
}
.welcome__body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: perspective(300px) rotateX(20deg);
	transform-origin: 50% 100%;
}

@keyframes autoscroll {
	to {
		margin-top: -4000px;
	}
}
